AppClient/Web References/host.gear.cao2246soap/SOAPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://caonvd.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://caonvd.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://caonvd.org/">
      <s:element name="getAllList">
        <s:complexType />
      </s:element>
      <s:element name="getAllListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllListResult" type="tns:ArrayOfSmartphone" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSmartphone">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Smartphone" nillable="true" type="tns:Smartphone" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Smartphone">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Brand" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Color" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="deleteSmartPhoneByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="code" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteSmartPhoneByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteSmartPhoneByCodeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchByNameResult" type="tns:ArrayOfSmartphone" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addSmartPhone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="smartPhone" type="tns:Smartphone" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addSmartPhoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addSmartPhoneResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSmartPhone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="smartPhone" type="tns:Smartphone" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSmartPhoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateSmartPhoneResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAllListSoapIn">
    <wsdl:part name="parameters" element="tns:getAllList" />
  </wsdl:message>
  <wsdl:message name="getAllListSoapOut">
    <wsdl:part name="parameters" element="tns:getAllListResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSmartPhoneByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:deleteSmartPhoneByCode" />
  </wsdl:message>
  <wsdl:message name="deleteSmartPhoneByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:deleteSmartPhoneByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="searchByNameSoapIn">
    <wsdl:part name="parameters" element="tns:searchByName" />
  </wsdl:message>
  <wsdl:message name="searchByNameSoapOut">
    <wsdl:part name="parameters" element="tns:searchByNameResponse" />
  </wsdl:message>
  <wsdl:message name="addSmartPhoneSoapIn">
    <wsdl:part name="parameters" element="tns:addSmartPhone" />
  </wsdl:message>
  <wsdl:message name="addSmartPhoneSoapOut">
    <wsdl:part name="parameters" element="tns:addSmartPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="updateSmartPhoneSoapIn">
    <wsdl:part name="parameters" element="tns:updateSmartPhone" />
  </wsdl:message>
  <wsdl:message name="updateSmartPhoneSoapOut">
    <wsdl:part name="parameters" element="tns:updateSmartPhoneResponse" />
  </wsdl:message>
  <wsdl:portType name="SOAPServiceSoap">
    <wsdl:operation name="getAllList">
      <wsdl:input message="tns:getAllListSoapIn" />
      <wsdl:output message="tns:getAllListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteSmartPhoneByCode">
      <wsdl:input message="tns:deleteSmartPhoneByCodeSoapIn" />
      <wsdl:output message="tns:deleteSmartPhoneByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="searchByName">
      <wsdl:input message="tns:searchByNameSoapIn" />
      <wsdl:output message="tns:searchByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addSmartPhone">
      <wsdl:input message="tns:addSmartPhoneSoapIn" />
      <wsdl:output message="tns:addSmartPhoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateSmartPhone">
      <wsdl:input message="tns:updateSmartPhoneSoapIn" />
      <wsdl:output message="tns:updateSmartPhoneSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPServiceSoap" type="tns:SOAPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllList">
      <soap:operation soapAction="http://caonvd.org/getAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSmartPhoneByCode">
      <soap:operation soapAction="http://caonvd.org/deleteSmartPhoneByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchByName">
      <soap:operation soapAction="http://caonvd.org/searchByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSmartPhone">
      <soap:operation soapAction="http://caonvd.org/addSmartPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSmartPhone">
      <soap:operation soapAction="http://caonvd.org/updateSmartPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SOAPServiceSoap12" type="tns:SOAPServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllList">
      <soap12:operation soapAction="http://caonvd.org/getAllList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSmartPhoneByCode">
      <soap12:operation soapAction="http://caonvd.org/deleteSmartPhoneByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchByName">
      <soap12:operation soapAction="http://caonvd.org/searchByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSmartPhone">
      <soap12:operation soapAction="http://caonvd.org/addSmartPhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSmartPhone">
      <soap12:operation soapAction="http://caonvd.org/updateSmartPhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOAPService">
    <wsdl:port name="SOAPServiceSoap" binding="tns:SOAPServiceSoap">
      <soap:address location="http://cao2246soap.gear.host/SOAPService.asmx" />
    </wsdl:port>
    <wsdl:port name="SOAPServiceSoap12" binding="tns:SOAPServiceSoap12">
      <soap12:address location="http://cao2246soap.gear.host/SOAPService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>